.gallery-form {
    width: 500px;
    padding: 20px;
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
}

.gallery-upload {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.gallery-label {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    border: 1px dashed var(--secondary-color);
    cursor: pointer;
    padding: 10px;
}

.gallery-label:hover {
    border: 2px dashed var(--third-color);
}

.gallery-label img {
    width: 90px;
}

.gallery-label p {
    font-size: 15px;
    font-weight: bold;
    transition: 0.4s;
}

.gallery-label:hover p {
    font-size: 18px;
}

.gallery-names {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.gallery-names input {
    width: 100%;
    height: 35px;
    padding: 15px;
    outline: none;
    border: none;
    border-bottom: 1px solid #56565680;
    font-size: 15px;
    transition: 0.4s;
}

.gallery-new-image {
    max-width: 300px;
    max-height: 300px;
    object-fit: cover;
}

.gallery-button {
    width: 100%;
    height: 35px;
    background-color: var(--third-color);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    outline: none;
    border: none;
    color: var(--primary-color);
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}


@media (max-width: 768px) {
    .gallery-form {
        max-width: 400px;
        padding: 15px;
    }

    .gallery-label img {
        width: 70px;
    }

    .gallery-label p {
        font-size: 14px;
    }

    .gallery-label:hover p {
        font-size: 16px;
    }

    .gallery-new-image {
        max-width: 250px;
        max-height: 250px;
    }

    .gallery-button {
        height: 30px;
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .gallery-form {
        max-width: 300px;
        padding: 10px;
    }

    .gallery-label img {
        width: 50px;
    }

    .gallery-label p {
        font-size: 12px;
    }

    .gallery-label:hover p {
        font-size: 14px;
    }

    .gallery-new-image {
        max-width: 200px;
        max-height: 200px;
    }

    .gallery-button {
        height: 28px;
        font-size: 13px;
    }
}