.home-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 70px 0 10px;
    background: linear-gradient(90deg, #49ff5642, #ffaa4942);
}

.home-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
    padding: 20px;
    
}

.home-create {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 20px;
}

.home-create-label {
    display: flex;
    justify-content: center;
    align-items: cente;
}

.home-create-label img{
    width: 30px;
    cursor: pointer;
}

.home-create-post {
    width: 100%;
    height: 100%;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
    background-color: #56565680;
}

#newPost:checked ~ .home-create-post {
    display: flex;
}

.home-create-label-close {
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    position: fixed;
    top: 30px;
    left: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-color);
}

@media (max-width: 1024px) {
    .home-content {
        max-width: 400px;
    }
}

@media (max-width: 768px) {
    .home-container {
        padding: 50px 0 10px;
    }

    .home-content {
        max-width: 350px;
        padding: 15px;
    }

    .home-create-label img {
        width: 25px;
    }

    .home-create-label-close {
        width: 25px;
        height: 25px;
        font-size: 18px;
    }
}

@media (max-width: 480px) {
    .home-container {
        padding: 70px 0 10px;
    }

    .home-content {
        max-width: 300px;
        padding: 10px;
    }


    .home-create-label img {
        width: 20px;
    }

    .home-create-label-close {
        width: 20px;
        height: 20px;
        font-size: 16px;
    }
}