.post-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 40px;
}

.post-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px
}

.post-owner {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-owner p {
    font-size: 10px;
    gap: 5px;
}

.post-box img {
    width: 500px;
    height: 400px;
    object-fit: cover;
}

.post-box-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.post-reactions {
    width: 100%;
    display: flex;
    justify-content: space-between;;
    align-items: flex-start;
}

.post-reactions-likes {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 30px
}

.post-reaction-type {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.post-reaction-type img {
    width: 30px;
    height: 30px;
}

.post-reaction-type button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    outline: none;
    border: none;
}

.post-reaction-type button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.post-reaction-type span {
    font-size: 12px;  
    font-weight: bold;  
}

.post-description {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.post-description p {
    font-size: 12px;
}

@media (max-width: 1024px) {
    .post-box img {
        max-width: 400px;
        max-height: 300px;
    }

    .post-reactions-likes {
        gap: 20px;
    }

    .post-reaction-type img,
    .post-reaction-type button img {
        width: 25px;
        height: 25px;
    }

    .post-reaction-type span {
        font-size: 11px;
    }

    .post-description p {
        font-size: 11px;
    }
}

@media (max-width: 768px) {
    .post-box img {
        max-width: 350px;
        max-height: 250px;
    }

    .post-reactions-likes {
        gap: 15px;
    }

    .post-reaction-type img,
    .post-reaction-type button img {
        width: 20px;
        height: 20px;
    }

    .post-reaction-type span {
        font-size: 10px;
    }

    .post-description p {
        font-size: 10px;
    }
}

@media (max-width: 480px) {
    .post-box img {
        max-width: 300px;
        max-height: 200px;
    }

    .post-reactions-likes {
        gap: 10px;
    }

    .post-reaction-type img,
    .post-reaction-type button img {
        width: 15px;
        height: 15px;
    }

    .post-reaction-type span {
        font-size: 9px;
    }

    .post-description p {
        font-size: 9px;
    }
}